{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign In</title>
    <!-- Favicon-->
</head>

<body class="signup-page">
    <div class="login-box">
        <div class="logo">
            <h3 style="text-align: center; color: white">Daffodil International University</h3>
            <h5 style="text-align: center; color: white">Department of Software Engineering</h5>
        </div>
        <div class="card">
            <div class="header">
                <h2 style="text-align: center">Reset Password</h2>
            </div>
            <div class="body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="row">

                        <div class="col-xs-12">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">Request Password Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}




