{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign In</title>
    <!-- Favicon-->
</head>

<body class="signup-page">
    <div class="alert alert-info">
        Your password has been set.
    </div>
    <a href="{% url 'account_login' %}">Sign In Here</a>
</body>

</html>

{% endblock %}




