<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student</title>

     <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
  <div style="margin-left:10px; width: 90%;margin: auto">
    <div>
      <h4>Name:MD Mostafa Munna</h4>
      <h4>ID:163-35-1740</h4>
    </div>
    <div style="clear:both; height: 300px">
      <div style="width:45%; float: left; ">
        <h5 style=" text-align:center;" >
          All Courses
        </h5>
      <button></button>
        <div style="height: 250px; overflow-y: scroll">
        <table  class="table table-striped" id="t_draggable1">
             <thead>
               <tr>
                 <th scope="col" style="width: 10%">SL</th>
                 <th scope="col" style="width: 40%">Course title</th>
                 <th scope="col" style="width: 25%">Course code</th>
                 <th scope="col" style="width: 10%">Credit</th>
                 <th scope="col" style="width: 15%">Enroll </th>
               </tr>
             </thead>
               <tbody class="t_sortable">
               {% for course in courses %}
                 <tr>
                   <th scope="row">{{ forloop.counter }}</th>
                   <td>{{ course.courseTitle }}</td>
                   <td>{{ course.courseCode }}</td>
                   <td>{{ course.courseCredit }}</td>
                   <td><button type="button" class="btn btn-success">ADD</button></td>
                 </tr>
                {% endfor %}
               </tbody>
            </table>
        </div>
        </div>
    <div>
 <script type="text/javascript">
     $(document).ready(function() {
  var $tabs = $('#t_draggable2')
  $("tbody.t_sortable").sortable({
    connectWith: ".t_sortable",
    items: "> tr:not(:first)",
    appendTo: $tabs,
    helper:"clone",
    zIndex: 999990
  }).disableSelection();

  var $tab_items = $(".nav-tabs > li", $tabs).droppable({
    accept: ".t_sortable tr",
    hoverClass: "ui-state-hover",
    drop: function( event, ui ) { return false; }
  });
});
 </script>
      <div style="margin-left:  60px;width:45%; height: 50px; float: left;">
          <select id = "semester" style="margin-right:10px">
            <option value="semester">Select Semester</option>
            <option value="fall">Fall 2019</option>
            <option value="summer">Summer2020</option>
            <option value="Spring">Spring 2020</option>
          </select>
          <select id="level" style="margin-right:10px">
            <option value="0">Select Level</option>
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
            <option value="4">Level 4</option>
          </select>
          <select id="term">
            <option value="0">Select Term</option>
            <option value="1">Term 1</option>
            <option value="2">Term 2</option>
            <option value="3">Term 3</option>
          </select>
          <button class="findCourse" id = "btnFindCourse" >Find Courses</button>

          <div style="height: 250px;overflow-y: scroll">
          <table  class="table table-striped" >
              <thead>
                 <tr>
                     <th scope="col" style="width: 10%">SL</th>
                     <th scope="col" style="width: 40%">Course title</th>
                     <th scope="col" style="width: 20%">Course code</th>
                     <th scope="col" style="width: 10%">Credit</th>
                     <th scope="col" style="width: 15%">Enroll </th>
               </tr>
              </thead>
              <tbody id="courses">

              </tbody>
          </table>
          </div>
      </div>
    </div>
    </div><br>
    <div style="width:60%;margin:auto; border: solid darkgreen 2px; background: aliceblue" >
        <h5 style="text-align: center" >
          Selected Courses for Pre-Registration(Fall 2019)
        </h5>
        <table class="table" id="selectedcourses">
             <thead class="thead-dark">
               <tr>
                 <th scope="col">#SL</th>
                 <th scope="col">Course title</th>
                 <th scope="col">Course code</th>
                 <th scope="col">Credit</th>
                 <th scope="col">Section</th>

               </tr>
             </thead>
               <tbody class="t_sortable">

                 {% for course in courses %}
                 <tr>
                   <th scope="row">{{ forloop.counter }}</th>
                   <td>{{ course.courseTitle }}</td>
                   <td>{{ course.courseCode }}</td>
                   <td>{{ course.courseCredit }}</td>
                    <td>
                         <select>
                            <option value="term">Select Section</option>
                            <option value="term1">A</option>
                            <option value="term2">B</option>
                            <option value="term3">C</option>
                          </select>
                     </td>
                 </tr>
                 {% endfor %}
                 <tr>
                   <th scope="row"></th>
                   <th scope="row"><button type="button" class="btn btn-success btn-lg btn-block">Submit</button></th>
                   <th scope="row"></th>
                 </tr>
               </tbody>
        </table>
    </div><br><br>
  </div>
</body>

</html>
<script type="text/javascript">
            $(document).ready(function() {
                $('.findCourse').on('click', function() {
                    var semester = $('#semester').val();
                    var level = $('#level').val();
                    var term = $('#term').val();
                    req = $.ajax({
                        url : '/student/findcourse',
                        type : 'POST',
                        data : { semester : semester, level : level, term : term }
                    });

                    req.done(function(data) {

                        var courses = JSON.parse(data);
                        console.log(courses[0].fields);
                        var txt = '';
                        var x,sl=0;
                        for (x in courses) {
                            var course = courses[x];
                            sl=sl+1;
                            console.log(courses[x].fields);
                            txt += "<tr>";
                            txt += "<td>" + sl+ "</td>";
                            txt += "<td>" + course.fields.courseCode + "</td>";
                            txt += "<td>" + course.fields.courseTitle + "</td>";
                            txt += "<td>" + course.fields.courseCredit + "</td>";
                            txt += "<td><button class='btn btn-success'>View</button></td>";
                            txt += "</tr>";
                        }
                        console.log(txt);
                        document.getElementById("courses").innerHTML = txt;
                        {#$('#memberSection'+member_id).fadeOut(1000).fadeIn(1000);#}
                        {#$('#memberNumber'+member_id).text(data.member_num);#}
                    });
                });
            });
        </script>
