
{% extends 'base.html' %}
{% block body %}

{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Final Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        .coursetable tbody {
          display: block;
          max-height: 550px;
            min-height: 550px;
          overflow-y: scroll;
        }
        .coursetable thead,
        .coursetable tbody tr {
          display: table;
          width: 100%;
          table-layout: fixed;
        }
        .scroll tbody {
          display: block;
          max-height: 235px;
          overflow-y: scroll;
        }
        .scroll thead,
        .scroll tbody tr {
          display: table;
          width: 100%;
          table-layout: fixed;
        }
    </style>
</head>
<body>
     <div class="card">
        <div class="header bg-green">
            <h2 style="text-align: center">

               Pre-registered Sudent List <small><span class=". . . . ."></span></small>

            </h2>
            <a style="float: left; margin-top: -30px" type="button" id="submitbtn"  class="btn bg-red waves-effect btn-lg  cregister" href="/gototohomepage"><< Back to Home</a>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another action</a></li>
                        <li><a href="javascript:void(0);">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body" >
            {#        course table start#}
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive" style="overflow-y: hidden">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable coursetable">
                            <thead>
                                <tr style="vertical-align: middle">
                                    <th style="width: 4%;">SL</th>
                                    <th style="width: 10%">Student ID</th>
                                    <th style="width: 8%"> Name</th>
                                    <th style="width: 10%"> Email</th>
                                    <th style="width: 9%"> Phone</th>
                                    <th style="width: 20%">Courses</th>
                                    <th style="width: 7%">Payment</th>
                                    <th style="width: 13%">Student Comment</th>
                                    <th style="width: 13%">Remark</th>
                                    <th style="width: 11.5%"></th>
                                </tr>
                            </thead>

                            <tbody>
                            {% for student in sdetails %}
                                 <tr id="p{{ student.student__stID }}">
                                   <th scope="row" style="width: 4%;">{{ forloop.counter }}</th>
                                   <td style="width: 10%;" ><p ><b>{{ student.student__stID }}</b></p></td>
                                    <td style="text-align: left;width:8%;">{{ student.student__stName }}</td>
                                    <td style="width: 10%;">{{ student.student__stEmail }}</td>
                                   <td style="width: 9%;">{{ student.student__stPhone }}</td>
                                   <td style="width: 20%;">
                                       {% for course in cdetails %}
                                           {% if course.student__stID == student.student__stID %}
                                            <b>{{ course.course__courseCode }}</b>--({{ course.course__courseTitle }})--<b>{{ course.section }}</b><br>
                                           {% endif %}
                                       {% endfor %}
                                   </td>
                                    <td style="width: 7%">
                                        <input type="checkbox" id="pscb{{ student.student_id }}" class="filled-in" value="True" disabled>
                                        <label for="pscb{{ student.student_id }}" id="psl{{ student.student_id }}">Pending</label>
                                    </td>
                                    <td style="width: 13%" id="stc{{ student.student_id }}">   </td>
                                    <td style="width: 13%"><textarea readonly id="note{{ student.student__stID }}txt" style="height: 50px; width: 100%; border-color: Transparent;" contenteditable="true">{{ student.student__remarks__remark }}</textarea></td>
                                     <td style="width: 10%; align-content: center;">
                                         <button class="btn bg-blue waves-effect addnote" style="width: 48%;height: 50px" id="note{{ student.student__stID }}" data-html="true" type="button"  >Note
                                        </button>
                                         <button   id="{{ student.student__stID }}" style="width: 48%;height: 50px" class="btn bg-red waves-effect register"  type="button" data-toggle="tooltip" data-original-title="Registration Status" data-placement="top">
                                            <i id="i{{ student.student__stID }}" class="material-icons">input</i>
                                        </button>
                                             <input type="hidden" id="h{{ student.student__stID  }}" />
                                             <input type="hidden" id="getstIDnote{{ student.student__stID  }}" value="{{ student.student_id }}"/>
{#                                             {% for status in status %}#}
{#                                                 {% if status.student__stID==student.student__stID %}#}
{#                                                    {% if status.registered %}#}
{#                                                       <button id="{{ student.student__stID }}" disabled  class="btn bg-red waves-effect" type="button" data-toggle="tooltip" data-original-title="Go to student portal" data-placement="top">#}
{#                                                            <i class="material-icons">done</i>#}
{#                                                        </button>#}
{#                                                 {% else %}#}
{#                                                    <button id="{{ student.student__stID }}"  class="btn bg-teal waves-effect" type="button" data-toggle="tooltip" data-original-title="Go to student portal" data-placement="top">#}
{#                                                            <i class="material-icons">input</i>#}
{#                                                        </button>#}
{#                                                 {% endif %}#}
{#                                                 {% endif %}#}
{#                                                 {% endfor %}#}
                                   </td>
                                 </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <script type="text/javascript">
    $(document).ready(function() {
            $('.addnote').on('click', function(e) {
                {#try {#}
                var id = this.id;
                console.log(id);
                var txtid = id+'txt';
                var remark = document.getElementById(txtid).value;
                console.log(id);
                var x = document.getElementById(txtid);
                var sid = document.getElementById('getstID'+id).value;
                console.log(sid);
                if (document.getElementById(id).innerText == "Save") {
                    req = $.ajax({
                        url: '/teacher/saveremark',
                        type: 'POST',
                        data: {
                            sid: sid,
                            remark: remark,
                            semester: '201'
                        },

                    });

                    x.contentEditable = "false";
                    console.log(x.value);
                    {#button.innerHTML = "Add Note";#}
                    x.readOnly=true;
                    x.classList.remove("form-control");
                    x.classList.remove("input");
                    document.getElementById(id).innerText='Note';
                    alert('Succefully Updated');
                }

                else {
                    document.getElementById(id).innerText='Save';
                     x.contentEditable = "true";
                    x.className += ' form-control input';
                    x.focus();
                    x.readOnly=false;
                    return;
                }
        });
     });
</script>
<script type="text/javascript">
 $(document).ready(function() {
     console.log("pscb");
     var semester = '201';
     req = $.ajax({
        url: '/teacher/findpaymentstatus/',
        type: 'POST',
        data: {
            semester: semester,
        },
    });
    req.done(function(data) {
        var x;
        var payments = JSON.parse(data);
        console.log(payments);
        for (x in payments) {
            var payment = payments[x];
            try {
                console.log("pscb"+ payment.student_id);
                if (payment.paymentStatus) {
                    console.log("pscb"+ payment.student_id);
                    document.getElementById("pscb"+ payment.student_id).checked = true;
                    document.getElementById("psl"+ payment.student_id).innerText = "Done";
                }
                else {
                    {#document.getElementById("pscb{{ payment.student.id }}").checked = true;#}
                    document.getElementById("psl"+ payment.student_id).innerText = "Pending";
                }
            }
            catch (e) {
                console.log(e);
            }
            document.getElementById("stc"+ payment.student_id).innerText = payment.comment;
        }
    });
    req = $.ajax({
        url: '/teacher/findregstatus/',
        type: 'POST',
        data: {
            semester: semester,
        },
    });
    req.done(function(data) {
        var x;
        var studentstatus = JSON.parse(data);
        for (x in studentstatus) {
            var status = studentstatus[x];
            var btnid = status.student__stID;
            try {
                if (status.registered) {
                    console.log(btnid);
                    document.getElementById('i' + btnid).innerHTML = 'done';
                    document.getElementById('p' + btnid).style.backgroundColor = 'teal';
                    document.getElementById('p' + btnid).style.color = 'white';
                    // $("#" + btnid).toggleClass("btn bg-green waves-effect register");
                    document.getElementById('h' + btnid).value = 'true';
                    document.getElementById('note'+status.student__stID+'txt').style.color = 'black';
                    $("#"+btnid).removeClass("bg-red");
                    $("#"+btnid).addClass("bg-green");
                }
                else {
                    $("#"+btnid).removeClass("bg-green");
                    $("#"+btnid).addClass("bg-red");
                    document.getElementById('h' + btnid).value = 'false';
                    document.getElementById('i' + btnid).innerHTML = 'input';
                    document.getElementById('note'+status.student__stID+'txt').style.color = 'black';
                }
            }
            catch (e) {
                console.log(e);
            }
        }

    });
 });

</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.register').on('click', function(e) {
            var semester = '201';
            var btnid = this.id;
            var regstatus = document.getElementById('h'+btnid).value;
            req = $.ajax({
                        url: '/teacher/changeregstatus/',
                        type: 'POST',
                        data: {
                            semester: semester,
                            sid: btnid,
                            status: regstatus
                        },
                    });
            req.done(function(data) {
                if(regstatus == 'true' || regstatus == 'True' || regstatus == true){
                    console.log(btnid);
                    document.getElementById('note'+btnid+'txt').style.color = 'black';
                    document.getElementById('i'+btnid).innerHTML = 'input';
                    document.getElementById('h' + btnid).value = 'false';
                    document.getElementById('p'+btnid).style.backgroundColor = "white";
                    document.getElementById('p'+btnid).style.color= 'black';
                    $("#"+btnid).removeClass("bg-green");
                    $("#"+btnid).addClass("bg-red");
                    return;
                }
                else
                    document.getElementById('i'+btnid).innerHTML = 'done';
                    $("#"+btnid).removeClass("bg-red");
                    $("#"+btnid).addClass("bg-green");
                    document.getElementById('p'+btnid).style.backgroundColor= 'teal';
                    document.getElementById('p'+btnid).style.color= 'white';
                    document.getElementById('h' + btnid).value = 'true';
                    document.getElementById('note'+btnid+'txt').style.color = 'black';

            });
        });
    });
</script>
</body>
</html>

{% endblock %}