{% extends 'base.html' %}
{% block body %}

{% load static %}
<!DOCTYP html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Panel</title>
     <style>
        .coursetable tbody {
          display: block;
          max-height: 390px;
          overflow-y: scroll;
        }

        .coursetable thead,
        .coursetable tbody tr {
          display: table;
          width: 100%;
          table-layout: fixed;
        }
        .scroll tbody {
          display: block;
          max-height: 235px;
          overflow-y: scroll;
        }

        .scroll thead,
        .scroll tbody tr {
          display: table;
          width: 100%;
          table-layout: fixed;
        }
    </style>
</head>
<body class="theme-green">
 <nav class="navbar" style="background-color: #00838f">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">TEACHER PORTAL</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                            <span class="label-count">7</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">NOTIFICATIONS</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">person_add</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>12 new members joined</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-cyan">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>4 sales made</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 22 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-red">
                                                <i class="material-icons">delete_forever</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy Doe</b> deleted account</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-orange">
                                                <i class="material-icons">mode_edit</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy</b> changed name</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 2 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-blue-grey">
                                                <i class="material-icons">comment</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> commented your post</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 4 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">cached</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> updated status</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-purple">
                                                <i class="material-icons">settings</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Settings updated</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">View All Notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                    <!-- Tasks -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">flag</i>
                            <span class="label-count">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">TASKS</li>
                            <li class="body">
                                <ul class="menu tasks">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Footer display issue
                                                <small>32%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Make new buttons
                                                <small>45%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Create new dashboard
                                                <small>54%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 54%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Solve transition issue
                                                <small>65%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Answer GitHub questions
                                                <small>92%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">View All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a href="{% url 'change_password' %}">Change Password</a>
                    </li>
                    <li >
                        <a href="{% url 'logout' %}">Log out</a>
                    </li>
                    <!-- #END# Tasks -->
                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="content" style="margin-left: 35px;">
        <div class="container-fluid">
             <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box-2 bg-deep-purple hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">face</i>
                        </div>
                        <div class="content">
                            <div class="text">TOTAL ADVISING STUDENTS</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">{{ students.count }}</div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" class="menu-toggle" data-toggle="modal" data-target="#regiteredStudents">
                    <div class="info-box-2 bg-teal hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">check_circle</i>
                        </div>
                        <div class="content">
                            <div class="text">PRE-REGISTERED TILL NOW</div>
                            <div class="number count-to" data-from="0" data-to="117" data-speed="1000" data-fresh-interval="20">{{ regStudents.count }}</div>
                        </div>
                    </div>
                    </a>
                </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" class="menu-toggle" data-toggle="modal" data-target="#notRegiteredStudents">
                    <div class="info-box-2 bg-blue hover-zoom-effect" >
                        <div class="icon">
                            <i class="material-icons">hourglass_full</i>
                        </div>
                        <div class="content">
                            <div class="text">NOT RESPONDED</div>
                            {% load mathfilters %}
                            <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20">{{ students.count|sub:regStudents.count }} </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="finalregistration/201/{{ teachers.id }}">
                     <div class="info-box-2 bg-indigo hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">input</i>
                        </div>
                        <div class="content">
                            <div class="text">REGISTER NOW</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"><small style="font-size: medium">Done: </small>{{ regstatus.count }}</div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        <div>
{#        course table start#}
              <div style="float: left; width: 750px" class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <span>
                            <h2 style="text-align: center">
                                Summer 2020
                            </h2>

                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive" style="height: 514px; overflow-y: scroll">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable coursetable">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;">SL</th>
                                            <th style="width: 18%">Code</th>
                                            <th style="width: 35%">Course Title</th>
                                            <th style="width: 10%">Credit</th>
                                            <th style="width: 15%">Students</th>
                                            <th style="width: 10%">Details</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    {% for course in courses %}
                                         <tr style="text-align: center">
                                           <th scope="row" style="width: 10%;">{{ forloop.counter }}</th>

                                           <td style="text-align: left;width: 18%;">{{ course.courseCode }}</td>
                                             <td style="text-align: left; width: 35%">{{ course.courseTitle }}</td>
                                           <td style="width: 10%;">{{ course.courseCredit }}</td>
                                             <td style="width: 15%;">{{ course.registered.count }}</td>
                                            <td style="width: 10%;"><a href="/adminpanel/studentlist/{{ course.id }}/201" class="btn btn-success viewsection">View</a></td>
                                         </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{#        student table start#}
              <div style="overflow:auto;" class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2 style="text-align: center">
                                Advising Student List
                            </h2>


                        </div>
                        <div class="body">
                            <div class="table-responsive" style="height: 514px; overflow-y: scroll">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable" >
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;">SL</th>
                                            <th style="width: 33%">ID</th>
                                            <th style="width: 43%">Student Name</th>
                                            <th style="width: 10%%"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    {% for student in students %}
                                         <tr style="text-align: center">
                                           <th scope="row">{{ forloop.counter }}</th>

                                           <td>{{ student.stID }}</td>
                                             <td style="text-align: left">{{ student.stName }}</td>
                                            <td><input type="button" id="{{ student.stID }}"  class="btn btn-primary viewcourse" value="View" href="javascript:void(0);"  data-toggle="modal" data-target="#defaultModal"/></td>
                                         </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- Exportable Table -->

            <!-- #END# Exportable Table -->
            </div>
        </div>
    </section>
    <div class="modal fade" id="regiteredStudents" tabindex="-1" role="dialog" >
        <div class="modal-dialog modal-lg" role="document"  >
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card">
                        <div class="header bg-green">
                            <h2>
                                Pre-registered Sudent List <small><span class=". . . . ."></span></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            {#        course table start#}
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="table-responsive" style="height: 500px; overflow-y: scroll">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                            <thead>
                                                 <tr>
                                                    <th style="width: 3%;">SL</th>
                                                    <th style="width: 15%">Student ID</th>
                                                    <th style="width: 20%">Student Name</th>
                                                    <th style="width: 4%">Credit</th>
                                                    <th style="width: 35%">Remark</th>
                                                    <th style="width: 25%"></th>
                                                </tr>

                                            <tbody>
                                            {% for regStudent in regStudents %}
                                                 <tr style="text-align: center">
                                                   <th scope="row" style="width: 3%;">{{ forloop.counter }}</th>

                                                   <td style="width: 15%;">{{ regStudent.student__stID }}</td>
                                                     <td style="text-align: left;width: 20%;">{{ regStudent.student__stName }}</td>
                                                   <td style="width: 4%;">{{ regStudent.credit }}</td>
                                                       <td style="width: 35%"><textarea readonly id="{{ regStudent.student_id }}txt"  style="height: 100%; width: 100%; border-color: Transparent;" contenteditable="true">{{ regStudent.student__remarks__remark }}</textarea></td>
                                                         <td style="width: 25%">
                                                           <button class="btn bg-green waves-effect addnote" style="width: 52%;float: left;height: 100%" id="{{ regStudent.student_id }}" data-html="true" type="button"  >Add Note
                                                            </button>
                                                            <input style="float: right; width:43%" class="btn bg-teal waves-effect viewcourse" value="Details" type="button" id="{{ regStudent.student__stID }}"  href="javascript:void(0);"  data-toggle="modal" data-target="#defaultModal">
                                                   </td>
                                                 </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div style="float: right"><button  type="button" class="btn btn-link waves-effect" data-dismiss="modal" name="teacher_close" id="teacherClose" >CLOSE</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="notRegiteredStudents"  tabindex="-1" role="dialog" >
        <div class="modal-dialog modal-lg" role="document"  >
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card">
                        <div class="header bg-red">
                            <h2>
                                Not Registered<small>...........</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            {#        course table start#}
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="table-responsive" style="height: 514px; overflow-y: scroll">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                            <thead>
                                                <tr>
                                                    <th style="width: 3%;">SL</th>
                                                    <th style="width: 14%">Student ID</th>
                                                    <th style="width: 25%">Student Name</th>
                                                    <th style="width: 5%">Mobile</th>
                                                    <th style="width: 40%">Remark</th>
                                                    <th style="width: 7%">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for student in notregistered %}
                                                     <tr style="text-align: center">
                                                       <th scope="row" style="width: 3%;">{{ forloop.counter }}</th>

                                                       <td style="width: 14%">{{ student.stID }}</td>
                                                         <td style="text-align: left;width: 25%">{{ student.stName }}</td>
                                                         <td style="width: 5%">{{ student.stPhone }}</td>
                                                       <td style="width: 40%"><textarea readonly id="{{ student.id }}txt"  style="height: 100%; width: 100%; border-color: Transparent;" contenteditable="true">{{ student.remarks__remark }}</textarea></td>
                                                         <td style="width: 7%">
                                                           <button class="btn bg-red waves-effect addnote" style="width: 100%" id="{{ student.id }}" data-html="true" type="button"  >Add Note
                                                            </button>
                                                       </td>

                                                     </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="float: right"><button  type="button" class=" btn btn-link waves-effect" data-dismiss="modal" name="teacher_close" id="teacherClose" >CLOSE</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <script>
function f() {
    x = document.getElementsByTagName("textarea");
    x.contentEditable = false;
}
</script>
     <script type="text/javascript">
            $(document).ready(function() {
                $('.addnote').on('click', function(e) {
                    {#try {#}
                    var id = this.id;
                    var txtid = id+'txt';
                    var remark = document.getElementById(txtid).value;
                    console.log(document.getElementById(id).innerText);
                    var x = document.getElementById(txtid);
                    if (document.getElementById(id).innerText == "Save") {
                    
                        req = $.ajax({
                            url: '/teacher/saveremark',
                            type: 'POST',
                            data: {
                                sid: id,
                                remark: remark,
                                semester: '201'
                            },

                        });

                        x.contentEditable = "false";
                        console.log(x.value);
                        {#button.innerHTML = "Add Note";#}
                        x.readOnly=true;
                        x.classList.remove("form-control");
                        x.classList.remove("input");
                        document.getElementById(id).innerText='Add Note';
                        alert('Succefully Updated');
                    }

                    else {
                        document.getElementById(id).innerText='Save';
                         x.contentEditable = "true";
                        x.className += ' form-control input';
                        x.focus();
                        x.readOnly=false;
                        return;
                    }
            });
         });


    </script>
<div class="modal fade in" id="defaultModal"  tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document"  >
            <div class="modal-content modal-col-teal">
                <div class="modal-body">
                    <div class="card">
                        <div class="header bg-teal" style="text-align: center">
                            <h2>
                                Pre Registered Courses
                            </h2>
                            <h2>
                                <label id="sname"></label><br>
                                <label id="sid"></label><br>
                                <label id="tcredit"></label>
                                Semester: Summer 2020
                            </h2>
                        </div>
                        <div class="body" >
                            {#        course table start#}
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="table-responsive" >
                                        <table class="table table-bordered table-hover" id="registeredCourses">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;">SL</th>
                                                    <th style="width: 18%">Code</th>
                                                    <th style="width: 45%">Course Title</th>
                                                    <th style="width: 10%">Credit</th>
                                                    <th style="width: 10%">Section</th>
                                                </tr>
                                            </thead>

                                            <tbody id="courses">
                                            </tbody>
                                            <tfoot>
                                                <td colspan="5" style="width: 30%; text-align: center"><a  id="update"  class="btn btn-primary btn-lg cregister" href="/teacher/"   >Update Registration Info</a></td>
                                                </tfoot>
                                            <tbody id="courses">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="float: right"><button  type="button" class="btn btn-link waves-effect" data-dismiss="modal" name="teacher_close" id="teacherClose" >CLOSE</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer >
    <div style="background-color: #00838f; height: 100px; justify-content: center;
  align-items: center; display: flex; ">
        <div><p>DEVELOPED BY-</p></div><br>
        <input style="margin-left: 20px" type="image" id="image" alt="Login" data-toggle="tooltip" data-original-title="Hafeezurrahman Saleh" data-placement="top" href=""
       src="{% static 'images/saleh.JPG' %}" class="btn-circle-lg waves-effect waves-circle waves-float">
        <input style="margin-left: 20px" type="image" id="image" alt="Login" data-toggle="tooltip" data-original-title="Subroto Karmokar" data-placement="top" href=""
       src="{% static 'images/munna.jpg' %}" class="btn-circle-lg waves-effect waves-circle waves-float">
        <input style="margin-left: 20px" type="image" id="image" alt="Login" data-toggle="tooltip" data-original-title="Mostafa Munna" data-placement="top" href=""
       src="{% static 'images/subroto.png' %}" class="btn-circle-lg waves-effect waves-circle waves-float">
        <input style="margin-left: 20px" type="image" id="image" alt="Login" data-toggle="tooltip" data-original-title="Nagma Islam" data-placement="top" href=""
       src="{% static 'images/nadia.jpg' %}" class="btn-circle-lg waves-effect waves-circle waves-float">
        <input style="margin-left: 20px" type="image" id="image" alt="Login" data-toggle="tooltip" data-original-title="Washim Akramm" data-placement="top" href=""
       src="{% static 'images/washim.png' %}" class="btn-circle-lg waves-effect waves-circle waves-float">


    </div>
    <div style="height: 50px; background-color:#006972; color: white; text-align: center ">
        <br><p >2020©All right reserved by Department of Software Engineering, DIU</p>
    </div>
</footer>
</section>
<script type="text/javascript">
    $(document).ready(function() {
                $('.viewcourse').on('click', function() {
                {#var semester = document.getElementById('selectSemester').value;#}
                var semester = '201';
                var sid = this.id;
                req = $.ajax({
                    url : '/teacher/registeredCourses',
                    type : 'POST',
                    data : { semester : semester, stID: sid }
                });
                console.log(sid);
                req.done(function(data) {
                    var Table = document.getElementById("courses");
                    Table.innerHTML = "";

                    var courses = JSON.parse(data);
                    var txt = '';
                    var x,sl=0,i,sname,sid;
                    for (x in courses) {
                         var txt = '';
                        var course = courses[x];
                        sl=sl+1;
                        txt += "<tr>";
                        txt += "<td style=\"width:16%; font-weight:bold\">" + sl + "</td>";
                        txt += "<td style=\"width:16%; font-weight:bold\">" + course.course__courseCode + "</td>";
                        txt += "<td style=\"width:39%\">" + course.course__courseTitle + "</td>";
                        txt += "<td style=\"width:10%\">" + course.course__courseCredit + "</td>";
                        txt += "<td style=\"width:10%\">" + course.section + "</td>";
                        txt += "</tr>";
                        $("#courses").append(txt);
                        s=course.section;
                        sname=course.student__stName;
                        sid=course.student__stID;
                        std=course.student_id;
                    }
                    document.getElementById('sid').innerHTML=sid;
                    document.getElementById('sname').innerHTML=sname;
                   // $("#update").attr("href", '"teacher/updateregistration/'+semester+'/'+std+'"');
                    $("a[href='/teacher/']").attr('href', "updateregistration/"+semester+"/"+std+"");
                    {#$('#memberSection'+member_id).fadeOut(1000).fadeIn(1000);#}
                    {#$('#memberNumber'+member_id).text(data.member_num);#}
                });
            });
        });
</script>

</body>
</html>

{% endblock %}
