{% extends 'base.html' %}
{% block body %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

</head>

<body class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code">404</div>
        <div class="error-message">{{ message }}</div>
        <div class="button-place">
            <a href="{% url 'prevPage' %}" class="btn btn-default btn-lg waves-effect">GO TO Back Page</a>
        </div>
    </div>


    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>
</body>

</html>
{% endblock %}